<h2>Introduction</h2>

<p>Accessing any page of our website other than our home page and this "Terms" page constitutes your consent to these terms of use and to our <a href="<%= privacy_path %>">Privacy Policy</a>. If you do not consent, do not use our website.</p> 

<p>Your use of our website to do anything beyond simply accessing/viewing it (that is, uploading, downloading, commenting, etc.), constitutes not merely your consent, but also your electronic signature, meaning that you are contractually bound by these terms and by our <a href="<%= privacy_path %>">Privacy Policy</a>.</p>

<h3>Don't do this stuff</h3>

<p>This section can be summarized as "don't do anything illegal on Tupix and don't be a jerk." If you want to read up on the full legalese, see the section titled The Details.</p>

<p>If someone else might own the copyright to an image, don't upload it to Tupix. Also don't upload gore, obscenity, advertising, solicitations, "hate speech" (i.e. demeaning race, gender, age, religious or sexual orientation, etc.), or material that is threatening, harassing, defamatory, or that encourages illegality. Don't hotlink to adult content, or to file-sharing or torrent sites, and don't use Tupix as a content delivery network. If you do anything illegal, in addition to any other legal rights we may have, we will ban you along with the site you're hotlinking from, delete all your images, report you to the authorities if necessary, and prevent you from viewing any images hosted on Tupix.</p>

<h3>Please do this stuff</h3>

<p>If you see any submissions that are breaking the terms outlined here, please report them by emailing <a href="mailto:abuse@tupix.com">abuse@tupix.com</a>.</p>

<h3>Uploaded Images</h3>

<p>The filenames of images that are uploaded are obfuscated (randomized) as a privacy measure. However, we obviously have no means of obfuscating private information that may be on the image itself. Please use your best judgment and don't post anything you might consider private.</p>

<h2>The Details</h2>

Version 1.0 | August 17, 2014

<h4>INTELLECTUAL PROPERTY</h4>

<p>By uploading a file or other content, you represent and warrant to us that (1) doing so does not violate or infringe anyone else's rights; and (2) you created the file or other content you are uploading, or otherwise have sufficient intellectual property rights to upload the material consistent with these terms. With regard to any file or content you upload to the public portions of our site, you grant Tupix a non-exclusive, royalty- free, perpetual, irrevocable worldwide license (with sublicense and assignment rights) to use, to display online and in any present or future media, to create derivative works of, to allow downloads of, and/or distribute any such file or content. To the extent that you delete any such file or content from the public portions of our site, the license you grant to Tupix pursuant to the preceding sentence will automatically terminate, but will not be revoked with respect to any file or content Tupix has already copied and sublicensed or designated for sublicense. Also, of course, anything you post to a public portion of our site may be used by the public pursuant to the following paragraph even after you delete it. </p>

<p>By downloading a file or other content from the Tupix site, you agree that you will not use such file or other content except for personal, non-commercial purposes, and you may not claim any rights to such file or other content, except to the extent otherwise specifically provided in writing. </p>

<h4>NOTICES OF CLAIMED COPYRIGHT INFRINGEMENT</h4>

<p>If you see anything on our site that you believe infringes your copyright rights, you may notify our Digital Millennium Copyright Act ("DMCA") agent by sending the following information:</p>
<ul>
<li>Identification of the copyrighted work or works claimed to have been infringed.</li>
<li>Identification of the material on our servers that is claimed to be infringing and that is to be removed, including the URL or other information to enable us to locate the material.</li>
<li>A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by you as copyright owner, or by your agent, or by law.</li>
<li>A statement that the information in your notice is accurate, and under penalty of perjury, that you are the owner (or authorized to act on behalf of the owner) of the exclusive copyright right that is allegedly being infringed.</li>
<li>Your physical or electronic signature, or of someone authorized to act on your behalf.</li>
<li>Instructions on how we may contact you: preferably email, but also address and phone.</li>
</ul>

<p>Our agent to receive such notifications of claimed infringement is Lisa Miyake.</p>

<p>Email: abuse@tupix.com<br />
Mailing Address:<br />
Agile Online Ventures LLC<br />
1923 Bragg St # 140- 3202<br />
Sanford, NC 27330</p>

<p>Use the same procedure for any claimed trademark violations or other infringements. If we receive a DMCA notice and remove something you posted anonymously, we will have no way of notifying you, so you will have to contact us if you think that may have happened. If we identify you as a “repeat infringer,” we will block or remove your images and terminate any accounts you have with us. Keep in mind that we reserve the right to remove any content at any time whether or not it infringes or violates any of our policies.</p>

<h3>Disclaimer of Warranties, Limitations of Remedies, Indemnity</h3>
<p>Although of course we strive to make Tupix as dependable as possible, Tupix's services are provided on an AS IS – WITH ALL FAULTS basis. Your use of our service is entirely at your own risk. We do not guarantee the availability of our service at any given time, or the reliability of our service when it is running. We do not guarantee the integrity of, or the continued availability of, files on our servers. Whether we make backups, and if so, whether restoration of those backups will be available to you, is at our discretion. TUPIX DISCLAIMS ALL WARRANTIES, EXPRESS AND IMPLIED, INCLUDING WITHOUT LIMITATION IMPLIED WARRANTIES OF FITNESS AND MERCHANTABILITY. NOTWITHSTANDING ANYTHING ELSE STATED IN THESE TERMS, AND IRRESPECTIVE OF WHETHER TUPIX TAKES OR DOES NOT TAKE MEASURES TO REMOVE INAPPROPRIATE OR HARMFUL CONTENT FROM ITS SITE, TUPIX HAS NO DUTY TO MONITOR ANY CONTENT ON ITS SITE. TUPIX DOES NOT ASSUME RESPONSIBILITY FOR THE ACCURACY, APPROPRIATENESS, OR HARMLESSNESS OF ANY CONTENT APPEARING ON TUPIX.COM THAT IS NOT PRODUCED BY TUPIX, INCLUDING BUT NOT LIMITED TO USER CONTENT, ADVERTISING CONTENT, OR OTHERWISE.</p>

<p>Tupix's liability for the loss of any services and/or of any images or other data you may have stored on TUPIX's service is limited to a refund of the cost, pro-rated if applicable, of the most recent month of service (if you have paid for an TUPIX Pro subscription). Otherwise, your sole remedy is to discontinue the use of our service. TUPIX WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR PUNITIVE DAMAGES ARISING OUT OF YOUR USE OF, OR INABILITY TO USE, TUPIX'S SERVICES, EVEN IF TUPIX HAS BEEN ADVISED OF OR REASONABLY SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES. NO CAUSE OF ACTION ARISING OUT OF YOUR USE OF TUPIX'S SERVICES MAY BE BROUGHT MORE THAN ONE YEAR AFTER IT OCCURS.</p>

<p>YOU WILL INDEMNIFY AND HOLD TUPIX AND ALL OF ITS PERSONNEL HARMLESS FROM ALL LOSS, LIABILITY, CLAIMS, DAMAGES AND EXPENSES, INCLUDING REASONABLE ATTORNEY FEES, ARISING OUT OF OR RELATED TO YOUR VIOLATION OF THESE TERMS, YOUR INFRINGEMENT OF ANY THIRD PARTY'S RIGHTS, AND ANY HARM CAUSED TO ANY THIRD PARTY AS A RESULT OF YOUR UPLOADING OF FILES, COMMENTS, OR ANYTHING ELSE TO OUR SERVERS.</p>

<h3>Miscellaneous</h3>

"Tupix" or "we" refers to Agile Online Ventures, LLC, a Delaware corporation, and its successors and assigns. "You" refers to any person who has consented to these terms or has become contractually bound to them, whether such person is identified or not at the time. These terms are governed by California law, excluding its conflicts of law principles, and if there is a lawsuit between you and Tupix, jurisdiction and venue will lie exclusively in the State where the defendant is located, if within the United States, or in Los Angeles County, California otherwise. If any part of these terms is invalid, the remaining provisions will be unaffected. These Terms of Use constitute the entire agreement among the parties relating to this subject matter, and they will continue to govern any issues that arise out of your use of Tupix's services even after you discontinue using them. We may revise these terms from time to time without notice. Whenever we do so, we will so indicate by changing the version date at the top. Any changes apply as of the time they are posted. Tupix is not meant for use by children under age 13; if your child is younger than 13 please allow him or her to use it only under your supervision.