<div class="jumbotron centertext">
	<h1><i class="glyphicon glyphicon-picture front-logo"></i> Tupix</h1>
	<p class="lead">Compare two images side by side.<br />
				    In the same browser window!
				    </p>
	<%= link_to "#", data: { toggle: "modal", target: "#upload-form" }, class: "btn btn-lg btn-primary" do %>
		<i class="glyphicon glyphicon-cloud-upload"> Upload</i>
	<% end %>
</div>