<div class="row">
<% @images.each do |image| %>
	<div class="col-md-6 image-col">
		<a href="<%= image.file.url %>" data-lightbox="image-1">
			<%= image_tag image.file.url(:medium), class: "submission-image" %>
		</a>
	</div>
<% end %>
</div>
