/* Universal */

.jumbotron {
	background-image: url('/images/rocket.jpg');
}

.jumbotron h1, .lead {
	text-shadow: 1px 1px #DDDDDD;
}

.jumbotron p {
	font-weight: 400;
	padding-bottom: 30px;
}

.centertext {
	text-align: center;
}

.front-logo {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -mozilla-transform 0.4s;
	-ms-transition: -ms-transform 0.4s;
	-o-transition: -o-transform 0.4s;
	transition: transform 0.4s;
	padding: 0 6px 0 6px;
}

.front-logo:hover {
	-webkit-transform: scale(3,3);
	-moz-transform: scale(3,3);
	-ms-transform: scale(3,3);
	-o-transform: scale(3,3);
	transform: scale(3,3);
}

/* Footer */

footer {
	margin-top: 60px;
	padding-top: 5px;
	border-top: 1px solid gray;
	color: #999;
}

footer p {
	font-size: 12px;
}