/* Universal */

hr {
	border: 1px solid #eee;
	height: 0;

	&.half-rule {
		width: 100px;
		margin: 40px auto;
	}
}

section {
	margin-top: 30px;
}

.jumbotron {
	background-image: url('/images/rocket.jpg');
}

.jumbotron h1, .lead {
	text-shadow: 1px 1px #DDDDDD;
}

.jumbotron p {
	font-weight: 400;
	padding-bottom: 30px;
}

.centertext {
	text-align: center;
}

.compare-contrast {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -mozilla-transform 0.4s;
	-ms-transition: -ms-transform 0.4s;
	-o-transition: -o-transform 0.4s;
	transition: transform 0.4s;
	padding: 0 12px 0 12px;

	&:hover {
		-webkit-transform: scale(3,3);
		-moz-transform: scale(3,3);
		-ms-transform: scale(3,3);
		-o-transform: scale(3,3);
		transform: scale(3,3);
	}
}

.stitch-together {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -mozilla-transform 0.4s;
	-ms-transition: -ms-transform 0.4s;
	-o-transition: -o-transform 0.4s;
	transition: transform 0.4s;
}

.vertical-stitch {
	height: 33px !important;
	padding-top: 6px;
}

#glyph-background {
	height: 102px;
	font-size: 48px;
}

.fa-picture-o {
	z-index: -3;
	padding-top: -5px;
}

.fa-annotation {
	font-size: 18px;
	color: red;
	z-index: -2;
	padding-left: 32px;
	font-weight: 500;
}



/* Footer */

footer {
	margin-top: 60px;
	padding-top: 5px;
	border-top: 1px solid gray;
	color: #999;
}

footer p {
	font-size: 12px;
}