// Place all the styles related to the submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.submission-image {
	border-radius: 5px;
}

input.hidden-field {
	display: none;
}

label.hidden-field-label {

}

.modal-dialog {
	height: 400px;
	width: 400px;
}

.btn-image-select {
	width: 154px;
	margin: 15px 0 10px 0;
}

canvas {
	border-radius: 3px;
	border: 2px dashed #DDDDDD;
	margin: 5px 0 5px 0;
}

.submission-name {
	margin-left: 7px;

	& input {
		width: 354px;
	}
}