<footer>
  <div class="container centertext">
    <p>Copyright &copy; 2014 Agile Online Ventures | <%= link_to "Terms", terms_path -%> | <%= link_to "Privacy", privacy_path -%> | <%= link_to "About", about_path -%></p>
  </div>
</div>
</footer>