<div class="row">
	<div class="col-md-12">
		<div class="btn-group">
			<%= link_to show_submission_path(@submission.slug), class: "btn btn-default " + is_active?('show') do %>
				<h4>View Mode</h4>
				<p>Great for side-by-side comparisons.</p>
			<% end %>
			<%= link_to show_composite_path(@submission.slug), class: "btn btn-default " + is_active?('comp') do %>
				<h4>Composite Mode</h4>
				<p>Ideal for embedding.</p>
			<% end %>
			<button class="btn btn-default" disabled>
				<h4>Annotate Mode (Coming Soon!)</h4>
				<p>Useful for adding more information to the images.</p>
			</button>
		</div>
	</div>
</div>